
/*设置菜单样式*/
.top_money{
    height: 100px;
    background: #03c;
    width:100%;
}

/*设置菜单中标题的样式*/
.title{
    width: 320px;
    color: white;
    font: normal 26px/90px "微软雅黑";
    text-align: center;
    float: left;}

/*设置5个菜单的样式*/
.money_list {
    width: 50%;
    height: 100px;
    float:left;}

/*设置菜单中每个菜单样式*/
.money_list li{
    width: 20%;
    height: 100px;
    color: white;

    text-align:center ;
    font: normal 16px/100px "微软雅黑";
    float:left;
}

/*设置鼠标悬浮的背景色*/

.money_list li:hover{
    background:royalblue;
}

/*注销的样式设置*/
.money_top_user{
    float: right;
    width: 231px;
    margin: 40px ;
}
.money_top_user a{
    color: white;
    width: 80px;
    height: 35px;
    font: normal 16px/50px "微软雅黑";
    margin: 35px 30px;
}


/*侧边栏样式*/
.left_sidebar{
    position: absolute;
    left: 0;
    top: 140px;
    width: 250px;
    color: black;
}

.sidebar_title{
    width: 100%;
    height: 60px;
    float: left;
    font: normal 20px/60px "微软雅黑";
    color: white;
    text-indent: 35%;
    background: #03c;
}
.sidebar_list li h3{
    height: 55px;
    width: 100%;
    border-bottom: solid 1px aliceblue;
    font: normal 18px/60px "微软雅黑";
    text-indent: 35%;
    float: left;
    color: black;
    background-image: url(../img/↓.png);
    background-repeat: no-repeat;
    background-position:200px;
}
.sidebar_list li ul a{
    float: left;
    width: 100%;
    color:#03c;
    font: normal 15px/30px "Microsoft YaHei UI";
    text-indent: 40%;
}

/*主题内容样式*/
.contents{
    width: 75%;
    position:absolute;
    margin-top: 15px;
    left: 300px;
    float: right;
}
/*内容信息*/
.pro_info{
    width: 190px;
    height: 190px;
    border: solid 1px #03c;
    float: left;
    text-align: center;
    border-radius: 10px; /*边角半径减去10px*/
    margin: 25px;

}
/*内容标题*/
.pro_title{
    width: 100%;
    height: 50px;
    background: #03c;
    font: normal 16px/50px "微软雅黑";
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    /*方向半径不减去像素*/
}
/*内容正文样式*/
.pro_info p{
    font: normal 15px/30px "微软雅黑" ;
    color: black;
    margin-top: 8px;
}
/*内容删除按钮*/
.pro_del {
    font: normal 15px/30px "微软雅黑";
    width: 70px;
    height: 33px;
    background: #03c;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 60px;
}
.pro_info a{
    color: white;
}
/*内容区域添加按钮样式*/
.pro_info img{
    margin-top: 60px;
    width: 70px;
    height: 70px;
}

/*弹窗样式*/

.back{
    width: 100%;
    height: 900px;
    background: rgba(146, 151, 162, 0.5);
    position: fixed;

    top:0;
    left: 0;

}
.alter{
    position: fixed;
    left: 35%;
    top: 120px;
    height: 470px;
    width: 450px;
    background: white;
    border: solid 1px #9297a2;
    border-radius: 20px;
    padding:0 20px;
}
.alter_title{
    font: bold 22px/40px "微软雅黑";
    color: blue;
    text-align: center;
    margin-top: 15px ;
    margin-left: 45px;
}
.alter_quit{
    position: absolute;
    top:10px;
    right: 15px;
}
.alter_input{
    width: 100%;
    height: 35px;
    font: normal 15px/30px "微软雅黑";
    margin-top: 25px;
    margin-left: 35px;
    color: blue;
}
.alter_input label{
    font: normal 15px/20px "微软雅黑";
    color: blue;
}
.alter_input input{
    height: 25px;
    width: 60%;
    margin-left: 3%;
    border-radius: 5px;
    text-indent: 10px;
    border: solid 1px black;
    font: normal 12px/30px "微软雅黑"
}
.pro_desc{
    font: normal 15px/35px "微软雅黑";
    color: blue;
    margin-top: 18px;
    margin-left: 8%;
}
.pro_desc textarea{
    margin-left: 93px;
    width: 265px;
    height: 80px;
    border: solid 1px black;
    border-radius: 5px;
    padding-left: 5px;
    font: normal 12px/30px "Microsoft YaHei UI";
}
.pro_tj{
     text-align: center;
}
.tj{
     margin-top: 10px;
    margin-left: 20px;
     width: 20%;
     height: 50px;
     background: blue;
     border-radius: 10px;
     border: solid 1px white;
     font: normal 15px/30px "Microsoft YaHei UI";
     color: white;
}
.hide{
    display: none;
}
.show{
    display: block;
}